@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --primary: #e11d48;
  --primary-light: #fb7185;
  --primary-dark: #be123c;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}
